<% include partials/header %>
<% include partials/navbar %>
<div class='container'>

    <div class='jumbotron'>
        <h1>Your Addresses</h1>
        <p>
            <%= currentUser.username %>
        </p>
        <a id='addAddressBtn' type ='button' class="btn" href='/addresses/new'>Add an Address</a>
        <form action='/addresses/search' method='POST'>
            <div class="form-group form-group-lg">
              <input type="text" id="searchAddr" class="form-control" name='searchAddr' placeholder="Search for an address..." aria-describedby="sizing-addon1">
            </div>
        </form>
            
    </div>
    <% data.forEach(function(addressData) { %>
        <div class="list-group">
            <a href="/addresses/<%=addressData.addr%>" class="list-group-item">
                <span class='rightTrans'>
                    <%= balances[addressData.addr].ntx %> Transactions -
                    <% if (balances[addressData.addr].ntx - addressData.num > 0 ) { %>
                        <strong><%= balances[addressData.addr].ntx - addressData.num %> Unseen</strong>
                    <% } else { %>
                        0 Unseen
                    <% } %>
                    <form style='display:inline' action='/addresses/<%= addressData.addr %>?_method=DELETE' method='POST'>
                        <button class="btn btn-danger btn-xs trash">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </span>
                
                <span class='balLabel'>
                    <p>Remaining Balance</p>
                    <span class="badge">
                        <%= balances[addressData.addr].btc %> BTC / <%= balances[addressData.addr].usd %> USD
                    </span>
                </span>
                
                
                <h3 class="list-group-item-heading addrLabel">
                    <%= addressData.label %>
                </h3>
                <p class="list-group-item-text addrLabel">
                    <%= addressData.addr %>
                </p>

            </a>
        </div>
    <% }) %>
</div>
<% include partials/footer %>