<% include partials/header %>
<% include partials/navbar %>
<div class='container'>
    <div class="page-header">
      <h1> <% if (dbData != "") { %>
        <%= dbData.Label %><br>
        <% } else { %>
          <button type="button" class="btn btn-default" onclick="goToAdd();">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button>
        <% } %>
      <small><%= btcData.address %></small></h1>
      <h3>Unspent Balance: <%= btcData.final_balance / 100000000 %> BTC</h3>
    </div>

    <div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="transaction-view-link">Transactions</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="graph-view-link">Graph</a>
							</div>
						</div>
						<hr>
					</div>
      <div id='transaction-view'>
        <table class="table" id="transaction-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>Explore</th>
                </tr>
            </thead>
            <tbody>
              <% var bal = btcData.final_balance  %>
              <% for (var i = 0; i < btcData.txs.length; i++) { %>
                <tr>
                  <% var tx = btcData.txs[i] %>
                  <% var sent = 0 %>
                  <% var received = 0 %>
                  <td>
                    <% var d = new Date(tx.time * 1000) %>
                    <% var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %>
                    <%= d.getDate() %> <%= months[d.getMonth() - 1] %> <%= d.getFullYear() %> <br>
                    <%= d.getHours() %>:<%= d.getMinutes() %>:<%= d.getSeconds() %>
                  </td>
                  <td>
                    <% var list = [] %>
                    <% for (var j = 0; j < tx.inputs.length; j++) { 
                       if (labels[tx.inputs[j].prev_out.addr]) { 
                        var obj = {
                          text: labels[tx.inputs[j].prev_out.addr],
                          addr: tx.inputs[j].prev_out.addr,
                          amt: tx.inputs[j].prev_out.value,
                          named: true
                        }
                        list.push(obj)
                       } else { 
                         var obj = {
                          text: tx.inputs[j].prev_out.addr,
                          addr: tx.inputs[j].prev_out.addr,
                          amt: tx.inputs[j].prev_out.value,
                          named: false
                        }
                        list.push(obj)
                       } 
                      
                       if (tx.inputs[j].prev_out.addr === btcData.address) {
                         sent += -1 * tx.inputs[j].prev_out.value 
                      }
                    }
                      list.sort(function(a, b) {
                        if (a.addr == btcData.address) {
                          return -1;
                        } else if (b.addr == btcData.address) {
                          return 1;
                        } else if (b.named && !a.named) {
                          return 1;
                        } else if (a.named && !b.named) {
                          return -1;
                        } else {
                           return b.amt - a.amt
                        }
                      });
                      var displayed = []
                    %>
                    <% for (var m = 0; m < list.length; m++) { %>
                        <% if (displayed.indexOf(list[m].text) == -1) { %>
                          <% if (m < 3) { %>
                            <% if (list[m].addr != btcData.address) { %>
                              <a href="/address/<%= list[m].addr %>"> <%= list[m].text %></a> <br>
                            <% } else { %>
                              <strong><%= list[m].text %></strong><br>
                            <% } %>
                            
                          <% } %>
                          <% displayed.push(list[m].text) %>
                          <% displayed.push(list[m].addr) %>
                        <% } %>
                    <% }
                    if (displayed.length > 6) { %>
                      <a onclick='showAll(this, <%- JSON.stringify(displayed) %>, "<%= btcData.address%>")'>And <%= (displayed.length - 6) / 2%> more addresses</a>
                    <% }%>
                  </td>
                  <td>
                    <% var list = [] %>
                    <% for (var j = 0; j < tx.out.length; j++) { 
                       if (labels[tx.out[j].addr]) { 
                        var obj = {
                          text: labels[tx.out[j].addr],
                          addr: tx.out[j].addr,
                          amt: tx.out[j].value,
                          named: true
                        }
                        list.push(obj)
                       } else { 
                         var obj = {
                          text: tx.out[j].addr,
                          addr: tx.out[j].addr,
                          amt: tx.out[j].value,
                          name: false
                        }
                        list.push(obj)
                       } 
                      
                       if (tx.out[j].addr === btcData.address) {
                         received += tx.out[j].value 
                      }
                    }
                      list.sort(function(a, b) {
                        if (a.addr == btcData.address) {
                          return -1;
                        } else if (b.addr == btcData.address) {
                          return 1;
                        } else if (b.named && !a.named) {
                          return 1;
                        } else if (a.named && !b.named) {
                          return -1;
                        } else {
                           return b.amt - a.amt
                        }
                      });
                      var displayed = []
                    %>
                    <% for (var m = 0; m < list.length; m++) { %>
                        <% if (displayed.indexOf(list[m].text) == -1) { %>
                          <% if (m < 3) { %>
                            <% if (list[m].addr != btcData.address) { %>
                              <a href="/address/<%= list[m].addr %>"> <%= list[m].text %></a> <br>
                            <% } else { %>
                              <strong><%= list[m].text %></strong><br>
                            <% } %>
                          <% } %>
                          <% displayed.push(list[m].text) %>
                          <% displayed.push(list[m].addr) %>
                        <% } %>
                    <% }
                    if (displayed.length > 6) { %>
                      <a onclick='showAll(this, <%- JSON.stringify(displayed)%>, "<%= btcData.address%>")'>And <%= (displayed.length - 6) / 2%> more addresses</a>
                    <% }%>
                  </td>
                  <td>
                    <% if (sent + received > 0) { %>
                      <span style='color:green'>+<%= (sent + received) / 100000000 %></span>
                    <% } else { %>
                      <span style='color:red;'><%= (sent + received) / 100000000 %></span>
                    <% } %>
                  </td>
                  <td><%= bal / 100000000 %></td>
                  <% bal -= (sent + received) %>
                  <td align='center'><button onclick="goToReport('<%= btcData.address %>', <%= tx.tx_index %>)" class="btn btn-success btn-xs">
                        <span class="glyphicon glyphicon-collapse-down"></span>
                    </button></td>
                </tr>
              <% } %>
            </tbody>
        </table>
      </div>
      <div id="graph-view">
      </div>
    </div>
</div>
    
<% include partials/footer %>