<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="page-header" id='reportHeader'>
  	<h3>Transaction Report<br>
  	    <small><%= new Date(data.time * 1000) %></small><br>
  	    <small>Transaction ID: <%= data.tx_index %></small>
  	</h3>
  	<div class='container'>
      	<div class="panel panel-default" id='rp'>
            <div class="panel-body" id='report-panel'>
                <div style='float:left' class='panel-left'>
                    <h4>Inputs</h4>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < data.inputs.length; i++) { %>
                            <% var input = data.inputs[i] %>
                                <tr>
                                    <td>
                                        <a href='/addresses/<%= input.prev_out.addr %>/<%= currentFolder._id %>'>
                                            <% if (labels[input.prev_out.addr]) { %>
                                                <%= labels[input.prev_out.addr] %>
                                            <% } else { %>
                                                <%= input.prev_out.addr %>
                                            <% } %>
                                        </a>
                                    </td>
                                    <td>
                                        <span style='color: red'>-<%= input.prev_out.value / 100000000 %></span>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div style='display:inline'>
                    <span style='font-size:5em' class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </div>
                <div style='float:right' class='panel-right'>
                    <h4>Outputs</h4>
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < data.out.length; i++) { %>
                                <% var output = data.out[i] %>
                                <tr>
                                    <td>
                                        <a href='/addresses/<%= output.addr %>/<%= currentFolder._id %>'>
                                            <% if (labels[output.addr]) { %>
                                                <%= labels[output.addr] %>
                                            <% } else { %>
                                                <%= output.addr %>
                                            <% } %>
                                        </a>
                                    </td>
                                    <td><span style='color: green'>+<%= output.value / 100000000 %></span></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container' id='report-body'>
    <div class="panel panel-default">
      <div class="panel-body">
        <h4 style='float:left; width: 70px'>Explore</h4>
        <div id='sortButton' class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a onclick='sortTable()'>Nodes of Interest</a></li>
            <li><a onclick='sort(0)'>Depth</a></li>
            <li><a onclick='sort(2)'>Num Transactions</a></li>
            <li><a onclick='sort(3)'>Forward/Backward</a></li>
          </ul>
        </div>
        <button id='backToReport' class='btn btn-primary' onclick='returnToTable()'>Back</button>
        <button id='showAdvancedBtn' class='btn btn-primary' onclick='showAdvanced(this)'>Show Advanced Search Settings</button>
        <form id='explore' class='invisible' action='/addresses/<%= rootAddr %>/report/<%= data.tx_index %>/explore' method='GET'>
            <hr>
            <input id='advanced-submit' type='submit' class='btn btn-success'>
            <div class="form-group exploreForm">
                <label class='horiz' for='depth'>Depth</label>
				<input class='horiz' type="number" name="depth" class="form-control" value='3'>
			</div>
			<div class="form-group exploreForm">
                <label class='horiz' for='ntx'>Num Transactions</label>
				<input class='horiz' type="number" name="ntx" class="form-control" value='4'>
			</div>
			<div class="form-group exploreForm">
                <label class='horiz' for='addrPerTx'>Num Inputs/Outputs per Transaction</label>
				<input class='horiz' type="number" name="addrPerTx" class="form-control" value='4'>
			</div>
			<div class='form-group exploreForm'>
			    <label class='horiz' for='direction'>Direction</label>
			    <input type="radio" name="direction" value="backward" checked> Backward<br>
                <input type="radio" name="direction" value="forward"> Forward<br>
                <input type="radio" name="direction" value="both"> Both
			</div>
			<hr>
        </form>
        <div id='report-data'>
            <table class='table' id='explore-table'>
                <thead>
                    <tr>
                        <th>Depth</th>
                        <th>Address</th>
                        <th>Num Transactions</th>
                        <th>Direction</th>
                        <th>Sent</th>
                        <th>Received</th>
                        <th>Of Interest</th>
                        <th>Path</th>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(dict).forEach(function(key) { %>
                        <% if(dict[key].ofInterest) { %>
                            <tr class='ofInterest'>
                        <% } else { %>
                            <tr>
                        <% } %>
                            <td><%= dict[key].depth %></td>
                            <td>
                                <a href='/addresses/<%= key %>/<%= currentFolder._id %>'>
                                    <% if (labels[key]) { %>
                                        <%= labels[key] %>
                                    <% } else { %>
                                        <%= key %>
                                    <% } %>
                                </a>
                            </td>
                            <td><%= dict[key].n_tx %></td>
                            <td>
                                <% if (dict[key].backward) { %>
                                    Backward
                                <% } else { %>
                                    Forward
                                <% } %>
                            </td>
                            <td><%= dict[key].sent %></td>
                            <td><%= dict[key].received %></td>
                            <td>
                                <% if(dict[key].ofInterest) { %>
                                    Yes
                                <% } else { %>
                                    No
                                <% } %>
                            </td>
                            <td>
                                <button class='btn btn-standard btn-xs' onclick='getPath(this, <%= JSON.stringify(dict[key].path) %>, <%= JSON.stringify(dict) %>, <%= JSON.stringify(labels) %>, "<%= currentFolder._id %>")'>Get path</button>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type='text/javascript' src='/report.js'></script>
<% include ../partials/footer %>